.footer {
  width: 100%;
  padding: var(--spacing-sm);
  background-color: var(--color-primary);
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  &__text {
    font-size: 0.875rem;
    font-weight: 400;
  }
}
